## Analytics of Students Performance Towards Career Choice Using Machine Learning 

## Background 


## Project Overview


## Data Dictionary

In [1]:
# Import the needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_theme()
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

from sklearn.linear_model import LogisticRegression
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read in the dataset
# std_career_df = pd.read_csv("student-career-data.csv")
std_career_df = pd.read_csv("student_career_data.csv")

In [3]:
# View the first 5 records
std_career_df.head()

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,69,63,78,87,94,94,87,84,61,9,...,Prayer books,salary,no,stubborn,Management,salary,hard worker,yes,no,Database Developer
1,78,62,73,60,71,70,73,84,91,12,...,Childrens,salary,yes,gentle,Technical,salary,hard worker,no,yes,Portal Administrator
2,71,86,91,87,61,81,72,72,94,11,...,Travel,Work,no,stubborn,Management,work,hard worker,no,yes,Portal Administrator
3,76,87,60,84,89,73,62,88,69,7,...,Romance,Work,yes,gentle,Management,work,smart worker,yes,yes,Systems Security Administrator
4,92,62,90,67,71,89,73,71,73,4,...,Cookbooks,salary,no,stubborn,Management,work,hard worker,yes,yes,Business Systems Analyst

### Exploratory Data Analysis (EDA)

In [4]:
# Dataset categories
std_career_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 39 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Acedamic percentage in Operating Systems  20000 non-null  int64
 1   percentage in Algorithms                  20000 non-null  int64
 2   Percentage in Programming Concepts        20000 non-null  int64
 3   Percentage in Software Engineering        20000 non-null  int64
 4   Percentage in Computer Networks           20000 non-null  int64
 5   Percentage in Electronics Subjects        20000 non-null  int64
 6   Percentage in Computer Architecture       20000 non-null  int64
 7   Percentage in Mathematics                 20000 non-null  int64
 8   Percentage in Communication skills        20000 non-null  int64
 9   Hours working per day                     20000 non-null  int64
 10  Logical quotient rating                   20000 non-null  int64
 11  hackathons                                20000 non-null  int64
 12  coding skills rating                      20000 non-null  int64
 13  public speaking points                    20000 non-null  int64
 14  can work long time before system?         20000 non-null  object
 15  self-learning capability?                 20000 non-null  object
 16  Extra-courses did                         20000 non-null  object
 17  certifications                            20000 non-null  object
 18  workshops                                 20000 non-null  object
 19  talenttests taken?                        20000 non-null  object
 20  olympiads                                 20000 non-null  object
 21  reading and writing skills                20000 non-null  object
 22  memory capability score                   20000 non-null  object
 23  Interested subjects                       20000 non-null  object
 24  interested career area                    20000 non-null  object
 25  Job/Higher Studies?                       20000 non-null  object
 26  Type of company want to settle in?        20000 non-null  object
 27  Taken inputs from seniors or elders       20000 non-null  object
 28  interested in games                       20000 non-null  object
 29  Interested Type of Books                  20000 non-null  object
 30  Salary Range Expected                     20000 non-null  object
 31  In a Realtionship?                        20000 non-null  object
 32  Gentle or Tuff behaviour?                 20000 non-null  object
 33  Management or Technical                   20000 non-null  object
 34  Salary/work                               20000 non-null  object
 35  hard/smart worker                         20000 non-null  object
 36  worked in teams ever?                     20000 non-null  object
 37  Introvert                                 20000 non-null  object
 38  Suggested Job Role                        20000 non-null  object
dtypes: int64(14), object(25)
memory usage: 6.0+ MB

In [5]:
# Checking statistical distributions of the dataset
std_career_df.describe()

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,Logical quotient rating,hackathons,coding skills rating,public speaking points
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,77.002300,76.948200,77.017550,77.094500,76.958200,77.015550,77.069850,76.913100,76.921450,7.985950,4.995050,2.992650,5.004750,5.012800
std,10.085697,10.101733,10.134815,10.087837,10.020088,10.168888,10.069059,10.138555,10.103494,2.593798,2.578383,2.005791,2.576831,2.588875
min,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,4.000000,1.000000,0.000000,1.000000,1.000000
25%,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,6.000000,3.000000,1.000000,3.000000,3.000000
50%,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,8.000000,5.000000,3.000000,5.000000,5.000000
75%,86.000000,86.000000,86.000000,86.000000,85.000000,86.000000,86.000000,86.000000,86.000000,10.000000,7.000000,5.000000,7.000000,7.000000
max,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,12.000000,9.000000,6.000000,9.000000,9.000000

In [6]:
std_career_df.shape

(20000, 39)

The dataset contains `20,000` records and `39` columns.
It can be observed that maximum percentage across all the courses is `94%`, while the minimum percentage is `64%`. Also, the average score in all the courses ranges between `76.91%` and `77.01%`.

The average working hours per day is `7 hours`, while the maximum working hours per day is `12 hours` and minimum working hours is `2.5 hours` per day.

#### Checking for NULL values.
This is need to check for `NULL` values in the dataset, as this will aid the data cleaning process.

In [7]:
std_career_df.isnull().sum()

Acedamic percentage in Operating Systems    0
percentage in Algorithms                    0
Percentage in Programming Concepts          0
Percentage in Software Engineering          0
Percentage in Computer Networks             0
Percentage in Electronics Subjects          0
Percentage in Computer Architecture         0
Percentage in Mathematics                   0
Percentage in Communication skills          0
Hours working per day                       0
Logical quotient rating                     0
hackathons                                  0
coding skills rating                        0
public speaking points                      0
can work long time before system?           0
self-learning capability?                   0
Extra-courses did                           0
certifications                              0
workshops                                   0
talenttests taken?                          0
olympiads                                   0
reading and writing skills                  0
memory capability score                     0
Interested subjects                         0
interested career area                      0
Job/Higher Studies?                         0
Type of company want to settle in?          0
Taken inputs from seniors or elders         0
interested in games                         0
Interested Type of Books                    0
Salary Range Expected                       0
In a Realtionship?                          0
Gentle or Tuff behaviour?                   0
Management or Technical                     0
Salary/work                                 0
hard/smart worker                           0
worked in teams ever?                       0
Introvert                                   0
Suggested Job Role                          0
dtype: int64

There is no `NULL` values in the dataset.

In [8]:
# Checking out the available columns in the dataset
std_career_df.columns

Index(['Acedamic percentage in Operating Systems', 'percentage in Algorithms',
       'Percentage in Programming Concepts',
       'Percentage in Software Engineering', 'Percentage in Computer Networks',
       'Percentage in Electronics Subjects',
       'Percentage in Computer Architecture', 'Percentage in Mathematics',
       'Percentage in Communication skills', 'Hours working per day',
       'Logical quotient rating', 'hackathons', 'coding skills rating',
       'public speaking points', 'can work long time before system?',
       'self-learning capability?', 'Extra-courses did', 'certifications',
       'workshops', 'talenttests taken?', 'olympiads',
       'reading and writing skills', 'memory capability score',
       'Interested subjects', 'interested career area ', 'Job/Higher Studies?',
       'Type of company want to settle in?',
       'Taken inputs from seniors or elders', 'interested in games',
       'Interested Type of Books', 'Salary Range Expected',
       'In a Realtionship?', 'Gentle or Tuff behaviour?',
       'Management or Technical', 'Salary/work', 'hard/smart worker',
       'worked in teams ever?', 'Introvert', 'Suggested Job Role'],
      dtype='object')

It can be observed that the columns are not uniformly names as some are in capital letters while some in small letters, hence the need to formalise the clumns for a better analysis and prediction.

In [9]:
std_career_df.columns = std_career_df.columns.str.replace(' ', '_').str.replace('/', '_').str.replace('?', '').str.lower()

In [10]:
std_career_df.columns

Index(['acedamic_percentage_in_operating_systems', 'percentage_in_algorithms',
       'percentage_in_programming_concepts',
       'percentage_in_software_engineering', 'percentage_in_computer_networks',
       'percentage_in_electronics_subjects',
       'percentage_in_computer_architecture', 'percentage_in_mathematics',
       'percentage_in_communication_skills', 'hours_working_per_day',
       'logical_quotient_rating', 'hackathons', 'coding_skills_rating',
       'public_speaking_points', 'can_work_long_time_before_system',
       'self-learning_capability', 'extra-courses_did', 'certifications',
       'workshops', 'talenttests_taken', 'olympiads',
       'reading_and_writing_skills', 'memory_capability_score',
       'interested_subjects', 'interested_career_area_', 'job_higher_studies',
       'type_of_company_want_to_settle_in',
       'taken_inputs_from_seniors_or_elders', 'interested_in_games',
       'interested_type_of_books', 'salary_range_expected',
       'in_a_realtionship', 'gentle_or_tuff_behaviour',
       'management_or_technical', 'salary_work', 'hard_smart_worker',
       'worked_in_teams_ever', 'introvert', 'suggested_job_role'],
      dtype='object')

In [11]:
# Confirming the formalised columns 
std_career_df.head(7)

,acedamic_percentage_in_operating_systems,percentage_in_algorithms,percentage_in_programming_concepts,percentage_in_software_engineering,percentage_in_computer_networks,percentage_in_electronics_subjects,percentage_in_computer_architecture,percentage_in_mathematics,percentage_in_communication_skills,hours_working_per_day,...,interested_type_of_books,salary_range_expected,in_a_realtionship,gentle_or_tuff_behaviour,management_or_technical,salary_work,hard_smart_worker,worked_in_teams_ever,introvert,suggested_job_role
0,69,63,78,87,94,94,87,84,61,9,...,Prayer books,salary,no,stubborn,Management,salary,hard worker,yes,no,Database Developer
1,78,62,73,60,71,70,73,84,91,12,...,Childrens,salary,yes,gentle,Technical,salary,hard worker,no,yes,Portal Administrator
2,71,86,91,87,61,81,72,72,94,11,...,Travel,Work,no,stubborn,Management,work,hard worker,no,yes,Portal Administrator
3,76,87,60,84,89,73,62,88,69,7,...,Romance,Work,yes,gentle,Management,work,smart worker,yes,yes,Systems Security Administrator
4,92,62,90,67,71,89,73,71,73,4,...,Cookbooks,salary,no,stubborn,Management,work,hard worker,yes,yes,Business Systems Analyst
5,88,86,62,79,93,84,69,71,82,11,...,Self help,salary,no,stubborn,Management,work,smart worker,yes,no,Software Systems Engineer
6,93,77,69,79,90,93,73,63,77,6,...,Drama,Work,yes,gentle,Technical,salary,hard worker,yes,yes,Database Developer

In [12]:
# Available suggested job role
std_career_df['suggested_job_role'].value_counts()

Network Security Administrator               1112
Network Security Engineer                     630
Network Engineer                              621
Project Manager                               602
Database Administrator                        593
Portal Administrator                          593
Information Technology Manager                591
Software Engineer                             590
UX Designer                                   589
Design & UX                                   588
Software Developer                            587
CRM Business Analyst                          584
Business Systems Analyst                      582
Database Developer                            581
Solutions Architect                           578
Software Systems Engineer                     575
Software Quality Assurance (QA) / Testing     571
Database Manager                              570
Web Developer                                 570
CRM Technical Developer                       567
Technical Support                             565
Quality Assurance Associate                   565
Data Architect                                564
Systems Security Administrator                562
Information Technology Auditor                558
Technical Services/Help Desk/Tech Support     558
Technical Engineer                            557
Applications Developer                        551
Systems Analyst                               550
E-Commerce Analyst                            546
Information Security Analyst                  543
Business Intelligence Analyst                 540
Mobile Applications Developer                 538
Programmer Analyst                            529
Name: suggested_job_role, dtype: int64

In [13]:

cols_with_obj_type = [c for c,d in zip(std_career_df.columns,std_career_df.dtypes) if d == np.object]

In [14]:
le = LabelEncoder()

In [15]:
for col in cols_with_obj_type:
    std_career_df[col] = le.fit_transform(std_career_df[col])

print(col)

suggested_job_role

In [16]:

X = std_career_df.drop(['suggested_job_role'],axis=1)
y = std_career_df.suggested_job_role

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X , y , test_size = 0.3 , random_state = 1)

In [18]:

#Logistic Regression - 
logreg = LogisticRegression()

logreg.fit(X_train , y_train)

y_pred = logreg.predict(X_test)

print(logreg.score(X_test , y_test))

0.05

In [19]:
# Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier 

dt = DecisionTreeClassifier(criterion = 'gini' , max_depth = 3)

dt = dt.fit(X_train , y_train)
y_pred = dt.predict(X_test)

print("Accuracy", metrics.accuracy_score(y_test , y_pred))

Accuracy 0.051

The dataset contains different varieties of records ranging from academic records, personality traits amongs others. It is important to view what each of these categories of data contains.

In [20]:
# Check the academic records
std_career_df.iloc[:, :14]

,acedamic_percentage_in_operating_systems,percentage_in_algorithms,percentage_in_programming_concepts,percentage_in_software_engineering,percentage_in_computer_networks,percentage_in_electronics_subjects,percentage_in_computer_architecture,percentage_in_mathematics,percentage_in_communication_skills,hours_working_per_day,logical_quotient_rating,hackathons,coding_skills_rating,public_speaking_points
0,69,63,78,87,94,94,87,84,61,9,4,0,4,8
1,78,62,73,60,71,70,73,84,91,12,7,1,2,3
2,71,86,91,87,61,81,72,72,94,11,1,4,1,3
3,76,87,60,84,89,73,62,88,69,7,1,1,2,5
4,92,62,90,67,71,89,73,71,73,4,5,4,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,83,67,62,63,81,74,90,84,69,4,2,6,1,8
19996,80,69,83,87,82,66,66,92,67,7,8,0,9,8
19997,83,70,80,87,64,85,69,94,88,7,3,6,2,3
19998,68,87,91,88,66,74,61,87,61,5,1,4,9,5
19999,73,77,74,84,70,65,92,73,90,7,3,1,7,6

In [21]:
# Checking the other records records
std_career_df.iloc[:,14:38]

,can_work_long_time_before_system,self-learning_capability,extra-courses_did,certifications,workshops,talenttests_taken,olympiads,reading_and_writing_skills,memory_capability_score,interested_subjects,...,interested_in_games,interested_type_of_books,salary_range_expected,in_a_realtionship,gentle_or_tuff_behaviour,management_or_technical,salary_work,hard_smart_worker,worked_in_teams_ever,introvert
0,1,1,1,8,0,0,1,0,0,4,...,0,21,1,0,1,0,0,0,1,0
1,1,0,1,5,2,0,0,2,1,7,...,1,5,1,1,0,1,0,0,0,1
2,1,0,1,0,7,0,1,2,0,6,...,1,29,0,0,1,0,1,0,0,1
3,0,1,0,6,1,1,0,1,0,7,...,0,23,0,1,0,0,1,1,1,1
4,0,0,0,0,0,0,0,2,0,0,...,1,7,1,0,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1,0,0,0,0,1,0,2,0,3,...,1,17,0,1,1,0,0,1,1,0
19996,1,0,0,2,3,0,1,1,0,2,...,1,7,1,0,1,0,0,0,0,1
19997,1,1,1,4,2,1,1,1,0,7,...,1,10,0,1,0,1,1,0,0,1
19998,0,0,0,2,0,0,1,2,2,1,...,0,29,0,0,0,0,1,1,1,0
19999,1,1,1,0,2,0,1,0,0,1,...,0,6,0,0,0,0,1,0,1,0

Because of the nature of the dataset, there is need to convert to categorical data `LabelEncoder` and `OneHotEncoder`.

In [22]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [23]:
labelencoder = LabelEncoder()

In [24]:
dt = std_career_df.iloc[:,:-1].values 
label = std_career_df.iloc[:,-1].values
len(dt[0])

38

In [25]:
# Convert the non-academic data into numerical data
for i in range(14,38):
    dt[:,i] = labelencoder.fit_transform(dt[:,i])
# View the last 7 non-academic records
dt[:7]

array([[69, 63, 78, 87, 94, 94, 87, 84, 61,  9,  4,  0,  4,  8,  1,  1,
         1,  8,  0,  0,  1,  0,  0,  4,  4,  0,  8,  0,  0, 21,  1,  0,
         1,  0,  0,  0,  1,  0],
       [78, 62, 73, 60, 71, 70, 73, 84, 91, 12,  7,  1,  2,  3,  1,  0,
         1,  5,  2,  0,  0,  2,  1,  7,  0,  1,  4,  1,  1,  5,  1,  1,
         0,  1,  0,  0,  0,  1],
       [71, 86, 91, 87, 61, 81, 72, 72, 94, 11,  1,  4,  1,  3,  1,  0,
         1,  0,  7,  0,  1,  2,  0,  6,  2,  0,  5,  1,  1, 29,  0,  0,
         1,  0,  1,  0,  0,  1],
       [76, 87, 60, 84, 89, 73, 62, 88, 69,  7,  1,  1,  2,  5,  0,  1,
         0,  6,  1,  1,  0,  1,  0,  7,  5,  0,  7,  0,  0, 23,  0,  1,
         0,  0,  1,  1,  1,  1],
       [92, 62, 90, 67, 71, 89, 73, 71, 73,  4,  5,  4,  6,  3,  0,  0,
         0,  0,  0,  0,  0,  2,  0,  0,  5,  0,  9,  0,  1,  7,  1,  0,
         1,  0,  1,  0,  1,  1],
       [88, 86, 62, 79, 93, 84, 69, 71, 82, 11,  5,  3,  8,  1,  1,  1,
         0,  6,  2,  0,  0,  2,  1,  9,  4,  1,  7,  1,  1, 27,  1,  0,
         1,  0,  1,  1,  1,  0],
       [93, 77, 69, 79, 90, 93, 73, 63, 77,  6,  3,  2,  3,  3,  0,  0,
         1,  7,  0,  0,  0,  0,  2,  8,  3,  1,  0,  0,  0, 10,  0,  1,
         0,  1,  0,  0,  1,  1]])

In [26]:
# View academic records into numerical data
dt[:5,14:]

array([[ 1,  1,  1,  8,  0,  0,  1,  0,  0,  4,  4,  0,  8,  0,  0, 21,
         1,  0,  1,  0,  0,  0,  1,  0],
       [ 1,  0,  1,  5,  2,  0,  0,  2,  1,  7,  0,  1,  4,  1,  1,  5,
         1,  1,  0,  1,  0,  0,  0,  1],
       [ 1,  0,  1,  0,  7,  0,  1,  2,  0,  6,  2,  0,  5,  1,  1, 29,
         0,  0,  1,  0,  1,  0,  0,  1],
       [ 0,  1,  0,  6,  1,  1,  0,  1,  0,  7,  5,  0,  7,  0,  0, 23,
         0,  1,  0,  0,  1,  1,  1,  1],
       [ 0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  5,  0,  9,  0,  1,  7,
         1,  0,  1,  0,  1,  0,  1,  1]])

Going forward, there is need to normalise the dataset

In [27]:
# import the needed library
from sklearn.preprocessing import Normalizer

In [28]:
# Normalize the academic records
dt_normalized = dt[:,:14]
normalizer = Normalizer()
normalized_records = normalizer.fit_transform(dt_normalized)
normalized_records
# print(normalized_records.shape)

array([[0.28508989, 0.26029947, 0.32227553, ..., 0.        , 0.01652695,
        0.0330539 ],
       [0.34997994, 0.27818918, 0.32754533, ..., 0.00448692, 0.00897384,
        0.01346077],
       [0.29501244, 0.35733901, 0.37811453, ..., 0.01662042, 0.0041551 ,
        0.01246531],
       ...,
       [0.3430836 , 0.28934762, 0.33068299, ..., 0.02480122, 0.00826707,
        0.01240061],
       [0.29479246, 0.37716094, 0.39450167, ..., 0.01734073, 0.03901665,
        0.02167592],
       [0.31140896, 0.32847247, 0.31567484, ..., 0.00426588, 0.02986113,
        0.02559526]])

In [41]:
# Normalize the non-academic records
dt_normalized2 = dt[:, 14:]
dt_normalized2.shape

(20000, 24)

In [42]:
# Append the 2 categories of the data
normalize_df = np.append(normalized_records, dt_normalized2, axis=1)
normalize_df.shape

(20000, 38)

In [44]:
# Feature colums
X = pd.DataFrame(normalize_df,columns=['acedamic_percentage_in_operating_systems', 'percentage_in_algorithms',
       'percentage_in_programming_concepts',
       'percentage_in_software_engineering', 'percentage_in_computer_networks',
       'percentage_in_electronics_subjects',
       'percentage_in_computer_architecture', 'percentage_in_mathematics',
       'percentage_in_communication_skills'
                                      
, 'hours_working_per_day',
       'logical_quotient_rating', 'hackathons', 'coding_skills_rating',
       'public_speaking_points', 'can_work_long_time_before_system',
       'self-learning_capability', 'extra-courses_did', 'certifications',
       'workshops', 'talenttests_taken', 'olympiads',
       'reading_and_writing_skills', 'memory_capability_score',
       'interested_subjects', 'interested_career_area_', 'job_higher_studies',
       'type_of_company_want_to_settle_in',
       'taken_inputs_from_seniors_or_elders', 'interested_in_games',
       'interested_type_of_books', 'salary_range_expected',
       'in_a_realtionship', 'gentle_or_tuff_behaviour',
       'management_or_technical', 'salary_work', 'hard_smart_worker',
       'worked_in_teams_ever', 'introvert'])

In [45]:
X.head(7)

,acedamic_percentage_in_operating_systems,percentage_in_algorithms,percentage_in_programming_concepts,percentage_in_software_engineering,percentage_in_computer_networks,percentage_in_electronics_subjects,percentage_in_computer_architecture,percentage_in_mathematics,percentage_in_communication_skills,hours_working_per_day,...,interested_in_games,interested_type_of_books,salary_range_expected,in_a_realtionship,gentle_or_tuff_behaviour,management_or_technical,salary_work,hard_smart_worker,worked_in_teams_ever,introvert
0,0.285090,0.260299,0.322276,0.359461,0.388383,0.388383,0.359461,0.347066,0.252036,0.037186,...,0.0,21.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.349980,0.278189,0.327545,0.269215,0.318571,0.314085,0.327545,0.376901,0.408310,0.053843,...,1.0,5.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.295012,0.357339,0.378115,0.361494,0.253461,0.336563,0.299168,0.299168,0.390580,0.045706,...,1.0,29.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,0.328025,0.375503,0.258967,0.362554,0.384135,0.315077,0.267600,0.379819,0.297812,0.030213,...,0.0,23.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
4,0.397157,0.267649,0.388523,0.289234,0.306502,0.384206,0.315136,0.306502,0.315136,0.017268,...,1.0,7.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
5,0.366425,0.358097,0.258163,0.328950,0.387245,0.349769,0.287311,0.295638,0.341441,0.045803,...,1.0,27.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0
6,0.387423,0.320769,0.287443,0.329101,0.374925,0.387423,0.304106,0.262448,0.320769,0.024995,...,0.0,10.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0

In [46]:
label = labelencoder.fit_transform(label)

In [47]:
# Target column
y = pd.DataFrame(label, columns=['suggested_job_role'])
# View the first five records in the target columns 
y.head()

   suggested_job_role
0                   7
1                  18
2                  18
3                  28
4                   2

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X , y , train_size = 0.8 , random_state = 1)

In [49]:
#Logistic Regression - 
import warnings
# warnings.filterwarnings('ignore')

from sklearn.linear_model import LogisticRegression
from sklearn import metrics

logreg = LogisticRegression()

logreg.fit(X_train , y_train)

y_pred = logreg.predict(X_test)

print(logreg.score(X_test , y_test))

0.05075

In [ ]:
from sklearn import svm

clf = svm.SVC()
clf.fit(X_train, y_train)

svm_y_pred = clf.predict(X_test)

svm_cm = confusion_matrix(y_test,svm_y_pred)
svm_accuracy = accuracy_score(y_test,svm_y_pred)


print("confusion matrics=",svm_cm)
print("  ")
print("accuracy=",svm_accuracy*100)

In [ ]:
predictions_test = labelencoder.inverse_transform(y_pred)
predictions_test

In [ ]:
labelencoder.inverse_transform(std_career_df['suggested_job_role'])

In [ ]:

cat_cols = [
    f for f in std_career_df.columns if std_career_df[f].dtype == 'object'
]
df_dummies = pd.get_dummies(std_career_df, columns=cat_cols)

In [ ]:

# cols_with_obj_type = [c for c,d in zip(std_career_df.columns,std_career_df.dtypes) if d == np.object]

# label_encoder = LabelEncoder()

# for col in cols_with_obj_type:
#     std_career_df[col] = label_encoder.fit_transform(std_career_df[col])

# print(col)